.vscode/settings.json
Makefile
.deps/*.Po
*.Po
config.log
config.h
config.status
stamp-h1
autom4te.cache/
scanner.c
configure~
*.o
*_test
send_irq
arm_simulator
example*
insertion_sort
Examples/ldst?.o
Examples/dtprcs?.o
Examples/ldst?
Examples/dtprcs?
config.h.in~
